/* Adjusting font size - small device */
.hackingText, .additionalMessage {
    font-size: 14px; 
}

/* Adjusting font size - medium device e.g. iPads */
@media (min-width: 768px) {
    .hackingText, .additionalMessage {
        font-size: 18px; /* Adjust as needed */
    }
}

/* Adjust padding for text elements when screen height is smaller */
@media (max-height: 600px) {
    #about, #projects, #hackingText {
        margin-top: 50px; 
    }
}

/* Ensure side-menu does not overlap text elements */
.side-menu {
    z-index: 1; 
}

#about, #projects, #hackingText {
    z-index: 0; 
}

/* Adjusting font size - large device e.g. laptop and desktop */
@media (min-width: 992px) {
    .hackingText {
        font-size: 22px; 
    }
    .additionalMessage {
        font-size: 20px; 
    }
}

/* Background color */
body {
    background-color: black;
    transition: padding-right 0.5s;
}

/* Side menu styling */

.side-menu {
    position: fixed;
    top: 0;
    right: 0px; 
    width: 50px;
    height: 100%;
    background-color: gray;
    padding: 20px;
    transition: right 0.5s;
    display: flex; /* Add flex display */
    flex-direction: column; /* Stack items vertically */
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Use flexbox for the list */
    flex-direction: column; /* Stack list items vertically */
}
.side-menu ul li {
    padding: 10px 0;
}

.side-menu img {
    width: 50px; 
    height: auto;
    transition: transform 0.3s ease; 
}

.side-menu a:hover img {
    transform: scale(1.1); 
}

@media (max-width: 768px) {

    .side-menu {
        position: static;
        top: 0;
        right: 0;
        left: 0; 
        width: 100%; 
        height: auto; 
        padding: 20px 10px;
        display: flex;
        flex-direction: row; 
    }

    .side-menu img {
        width: 50px; 
    }

    .side-menu ul {
        list-style-type: none;
        padding: 0;
        display: flex; 
        flex-direction: row; 
        width: 100%;
    }

    .side-menu .linkedin-icon {
        margin-left: auto;
        display: flex;
        align-items: center;
        
    }
    
    .side-menu ul li {
        padding: 10px 0;
    }
    
    .side-menu img {
        width: 50px; 
        height: auto;
        transition: transform 0.3s ease; 
        margin-right: 10px;
    }
    
    .side-menu a:hover img {
        transform: scale(1.1); 
    }
}

/*set color and font for generic text for all three files*/

#about, #projects, #hackingText {
    color: lime;
    font-family: 'Courier New', monospace;
    white-space: pre-wrap;
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 85%;
}

@media (max-width: 768px) {
    #about, #projects, #hackingText {
        top: 25%; 
    }
}

/* Sets the link color to lime */
#projects a {
    color: lime; 
}

/* Changes the link color to white on hover */
#projects a:hover {
    color: white; 
}
